body {
	background-color: black;
	color: white;
}

th {
	text-align: center;
	padding: 10px;
}
td {
	text-align: left;
	padding-right: 10px;
}
.il {
	text-align: center;
	padding-right: 10px;
}

tr:last-child td {
	border-top: 1px solid red;
}

table {
	border-spacing: 0;
}

footer {
	position: absolute;
	bottom: 0;
	left: -10px;
	height: 15px;
	width: 100%;
	padding: 15px;
	background-color: #93e78f;
	color: blue;
}