body {
	background-color: black;
	color: white;
}


form {
	float: left;
	clear: both;
	display: block;
}

label, input, a {
	float: left;
}

a {
	clear: both;
	margin-top: 10px;
}

input {
	clear: both;
}

td input {
	width: 30px;
}

textarea {
	float: left;
	clear: both;
}

table {
	margin-bottom: 10px;
}

td { 
	padding: 0 10px;
	text-align: left;
}

div {
	clear: both;
}
.adress {
	width: 10em;
	height: 3em;
	clear: both;
	text-align: left;
	font-size: 20px;
}